.card {
    background-color: #0000009c !important;

}

.Csignup-Main {
    color: white;
    position: relative;
}

.Csignup-Main img {
    width: 500px;
    height: 900px;
    position: absolute;

    right: 20px;
    bottom: 20px;

}

input.input-error,
select.input-error {
    border-color: red;
    border-width: 2px;
}

.red-error {
    color: rgb(223, 96, 96);
}